<div class="experiences">

  <div class="table-responsive">
    <table class="table table-sm table-borderless">
        <tr>
            <th scope="row" style="width: 20%">Apr. 2025 - Present</th>
            <td>Research Intern, <a href="https://3d.hunyuan.tencent.com/" rel="external nofollow noopener" target="_blank">Tencent Hunyuan</a>, Shenzhen. Work on compositional 3D generation.</td>
        </tr>
    </table>
  </div>
</div>
