<div class="services">

  <div class="table-responsive">
    <table class="table table-sm table-borderless">
        <tr>
            <th scope="row" style="width: 20%">Conference Reviewer</th>
            <td>ICLR, NeurIPS, 3DV.</td>
        </tr>
    </table>
  </div>
</div>
